
<div class="list-title">{{list.title}}</div>

<div class="task-container">
  {{#each list.tasks as |task| }}
  {{#if task.isActive}}
  <div class="task-title" {{action 'toggleModal' task.id }}>
    <p>{{task.title}}</p>
  </div>
    {{#if (eq modalTask task.id)}}
      {{task-modal task=task toggleModal=(action 'toggleModal' task.id) }}
    {{/if}}
  {{/if}}
  {{/each}}

  <div class="add-task">
   {{input placeholder="Add New Task" value=newTaskTitle enter="handleAddTask" name="addTask"}}
  </div>
</div>

